NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyC5cfkwCfEMlYazkupsvD0JnrWakFSCERU
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=fastnote-7b9a3.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=fastnote-7b9a3
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=fastnote-7b9a3.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=155151327834
NEXT_PUBLIC_FIREBASE_APP_ID=1:155151327834:web:43fed4cdccf5cf2d9d6e63
